#contact-us-section .contact-us-container {
	position: absolute;	
	width: 70%;
	left: 15%;
	height: 90%;
	background-color: white;
	border-radius: 0.4%;
	top: 9.5%;
	text-align: center;
}

#contact-us-section .contact-us-logo-container {
	position: relative;
	left: 0;
	top: 0;
	width: 100%;	
	text-align: center;
}

#contact-us-section .contact-us-logo {
	width: 10%;
	padding: 2rem 0;
}

#contact-us-section .contact-us-header {
	color: #00CDFF;	
	font-size: 50pt;
}

#contact-us-section .contact-us-icons-container {
	position: relative;	
	width: 70%;
	left: 15%;
	height: 35%;
	margin-top: 3rem;
	text-align: center;
}

#contact-us-section .call-container {
	position: absolute;
	width: 33.3333%;
	left: 0;
	height: 100%;
	display: inline-block;
	margin: 0;
}

#contact-us-section .email-container {
	position: absolute;
	width: 33.3333%;
	left: 33.3333%;
	height: 100%;
	display: inline-block;
	margin: 0;
}

#contact-us-section .connect-container {
	position: absolute;
	width: 33.3333%;
	left: 66.6666%;
	height: 100%;
	display: inline-block;
	margin: 0;
}

#contact-us-section .contact-icon {
	height: 72%;	
}

#contact-us-section .contact-icon-title {
	width: 100%;
    margin: 0;
    color: black;
    position: absolute;
    left: 0;	
}

#contact-us-section .contact-icon-subtitle {
	width: 100%;
	position: absolute;
	font-size: 12pt;
	left: 0;
	color: #c1c1c1 ;
	bottom: 0;
}
#contact-us-section .contact-us-subheader{
		font-family: Times New Roman, sans-serif;

}	

@media screen and (min-width: 375px) and (max-width: 768px) {
	#contact-us-section .contact-us-container {
		width: 94%;	
		left: 3%;
		height: 94%;
		top: 3%;
	}	

	#contact-us-section .connect-container {
		width:94%;
		left:3%;
		height:33%;
	}	

	#contact-us-section .email-container {
		width:94%;
		left:3%;
		height:33%;
		top:33%;
	}

	#contact-us-section .call-container {
		width:94%;
		left:3%;
		height:33%;
		top:66%;
	}

	#contact-us-section .contact-us-icons-container {
		height: 60%;
	}
}	


